{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/config.css') }}">
{% endblock %}

{% block content %}
{% if invalid %}
    <p>Invalid config input.</p>
{% endif %}

<form action="{{ url_for('config') }}" target="_self", method="post" class-name="columns">
    <div class-name="block">
        <p>Globals:</p>
        <div class-name="scrollable">
            {% for var_name, var_value in globals.items() %}
                {% call config_input("globals." + var_name, var_value) %}
            {% endfor %}
        </div>
    </div>

    <div class-name="block">
        <div>
            <p>Plots:</p>
            <div class-name="scrollable">
                {% for lst_name, plot_lst in plots.items() %}
                    {% call config_input("plots." + lst_name, plot_lst) %}
                {% endfor %}
            </div>
        </div>

        <div class-name="submit-button">
            <label for="submit_button">Submit changes</label>
            <input type="submit" name="submit_button" />
        </div>
    </div>

    <div class-name="block">
        <p>Aggregations:</p>
        <div class-name="scrollable">
            {% for var_name, var_value in aggs.items() %}
                {% call config_input("aggs." + var_name, var_value) %}
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}
