<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
  </head>
  <body>
    <div class-name="header">
        <h1>
            {{ title }}
        </h1>
    </div>
    <div class-name="content">
        <h3>Still under construction. Check back later!</h3>
    </div>
  </body>
</html>
