{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}

{% block content %}
{% if invalid %}
    <p>spreadsheet is invalid.</p>
{% endif %}

<form action="{{ url_for('home') }}" target="_self" method="post" enctype="multipart/form-data">
    <div class-name="block">
        <label for="sheet-input" class-name="input-label">
            Upload your spending spreadsheet!
        </label>
        <input
            type="file"
            class-name="file-input"
            accept=".xlsx, .csv, .txt"
            autofocus="autofocus"
        />
    </div>
</form>
{% endblock %}
